.card {
    border: solid;
    width: 200px;
    height: 350px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 171, 185);
}


.counterContainer {
    // display: flex;
    // align-items: flex-end;
}

.employeeDetails {
    // display: flex;

}