.card {
    border: solid;
    width: 200px;
    height: 400px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;

    &__.counterContainer {
        display: flex;
        border: green solid;
        justify-content: center;
    }
}

